<!DOCTYPE html>
<html>
  <head>
    <title>QUIZ</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>

  <body>
    <h2>QUIZ - EL JUEGOS DE LAS PREGUNTAS Y ADIVINANZAS</h2>

	Respuesta: <%= respuesta %> <p>

	<a href="/quizes/question"> Intentelo otra vez </a>

  </body>
</html>
